.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.cardTitle{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mailSnippetBody{
    display: flex;
    flex-direction: column;
    gap:5px;
    justify-content: start;
    align-items: start;
}
.fullMailLink{
    color: blue;
}